.page-body {
  height: 100%;
  background: url("../../assets/image/main-background.png");
  background-size: cover;
  background-position: center top;
  position: relative;
}
.logo-body {
  display: flex;
  justify-content: center;
  .home-logo {
    width: 70vw;
    position: absolute;
    top: 61px;
  }
}
.entrance-body {
  position: relative;
  .send-wish-button {
    position: absolute;
    width: 65vw;
    max-width: 293px;
    top: 18vh;
  }
  .look-wish-button {
    position: absolute;
    width: 65vw;
    top: 42vh;
    max-width: 273px;
    right: 0;
  }
  .about-button {
    position: absolute;
    width: 25vw;
    bottom:-83vh;
    max-width: 117px;
    left: 10vw;
  }
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  scale: .8;
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .icp a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
  }
  .sast-logo {
    width: 20vw;
    max-width: 78px;
  }
}
