.page-body {
  height: 100%;
  background: url("../../assets/image/main-background.png");
  background-size: cover;
  background-position: center top;
  position: relative;
  .function-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 30px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    .quit {
      margin-right: 10px;
    }
  }
  .welcome-info {
    color: black;
    margin-left: 10px;
    left: 0;
    right: 0;
    font-size: 1rem;
  }
}
.logo-body {
  display: flex;
  justify-content: center;
  .home-logo {
    width: 70vw;
    position: absolute;
    top: 61px;
  }
}
.entrance-body {
  position: relative;
  .send-wish-button {
    position: absolute;
    width: 65vw;
    max-width: 293px;
    top: 18vh;
  }
  .look-wish-button {
    position: absolute;
    width: 65vw;
    top: 42vh;
    max-width: 273px;
    right: 0;
  }
  .about-button {
    position: absolute;
    width: 25vw;
    bottom: -83vh;
    max-width: 117px;
    left: 10vw;
  }
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 42px;
  scale: 0.8;
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .icp a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
  }
  .sast-logo {
    width: 20vw;
    max-width: 78px;
  }
}
