.about-container {
  // position: absolute;
  width: 80vw;
  // left: 10vw;
  // top: 212px;

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 400;
  font-size: 3.9vw;
  line-height: 6.5vw;
  /* or 169% */

  text-align: justify;
  letter-spacing: 0.01em;

  color: #ffffff;
}

.about-back-logo {
  // position: relative;
  width: 18.4vw;
  height: 18.4vw;
  // top: 83vh;
  // left: 10vw;
}

.about-content {
  position: absolute;
  width: 80vw;
  left: 0;
  right: 0;
  margin: auto;
  top: 212px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page-body .about-body {
  position: relative;
  z-index: 999;
  height: 112vh;
  width: 100%;
  background: url("../../assets/image/about-background.png");
  background-size: cover;
  background-position: center top;
}