.title {
  position: absolute;
  width: 200px;
  height: 43px;
  left: 0;
  right: 0;
  margin: auto;
  top: 12vh;

  font-size: 12vw;

  text-align: center;
  letter-spacing: 0.165em;

  color: #ffffff;
}

.wish-card {
  position: absolute;
  width: 86vw;
  height: 58vh;
  left: 7vw;
  top: 22vh;

  background: #fffaec;
  border-radius: 14px;
}
